
GPSPockemon/GPSPockemon.xcodeproj/project.xcworkspace/xcuserdata/gilsonsantos.xcuserdatad/UserInterfaceState.xcuserstate

GPSPockemon/GPSPockemon.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

GPSPockemon/GPSPockemon.xcodeproj/project.xcworkspace/contents.xcworkspacedata

GPSPockemon/GPSPockemon.xcodeproj/xcuserdata/gilsonsantos.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
